* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
  height: 80px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;
}

nav a:hover {
  color: rgb(255, 92, 32);
}

.hero {
  background: #ffffff;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: rgb(255, 255, 255);
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background:rgb(222, 102, 58);
  color: #000;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}

nav .menu-btn i{
    color:rgb(14, 13, 13);
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{
    display: none;
}


@media (max-width:1000px){
    nav{
        padding: 0 40px 0px 50px;
        
    }
}
@media (max-width:920px){
    nav .menu-btn i{
        display: block;
    }
    #click:Checked ~ .menu-btn i:before{
        content:'\f00d';
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        
    }
    #click:Checked ~ ul {
        left: 0px;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
        
       
    }
    nav ul li a{
        width: 100%;
        margin-left:-100%;
        display: block;
        font-size: 25px;
        position: fixed;
        color: #353332;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:Checked ~ ul li a{
        margin-left: 0px;
    }

}
@media (amx-width:768px) {
    .content div{
        font-size: 22px;
    }
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    
}

















/*page card design*/
*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    line-height: 1.15;
}
body{
    font-family: 'roboto', sans-serif;
    color: #454545;
    font-weight: 400;
    background: #ffffff;
}
a{
    color: #070606;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}
.container{
    width: 100%;
    padding-right:15px ;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 50px;
}
.column{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    color: #000;
}
p{
    padding-top: 20px;
}
.inner{
    color: #070606;
}
.section-title{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
    color: #070606;

}
.section-title::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    background: #424242;
}
.effect{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.effect .effect-img{
    font-size: 0;
    overflow: hidden;
}
.effect .effect-img img{
    width: 100%;
    height: auto;
    transition: all .3s;
}
.effect:hover .effect-img img{
    transform: scale(1.2);
}
.effect .effect-text{
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all .3s ease-in;
    opacity: 0;
}
.effect .effect-text .inner{
    position: absolute;
    padding: 15px;
    z-index: 1;
}
.effect .effect-text:before,
.effect .effect-text:after{
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    content: '';
}
.effect .effect-text:before{
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    left: -100%;
    top: 0;
}
.effect .effect-text:after{
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    left: 100%;
    bottom: 0;
}
.effect:hover .effect-text{
    opacity: 1;
}
.effect:hover .effect-text:after,
.effect:hover .effect-text:before{
    animation-delay: .1s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.effect:hover .effect-text:after{
    animation-name: left-up;
}
.effect:hover .effect-text:before{
    animation-name: right-dn;
}
@-webkit-keyframes left-up {
    0% {
        left: 100%;
        height: 0;
    }
    50% {
        left: 0;
        height: 0;
    }
    100% {
        height: 100%;
        left: 0;
    }
}
@-webkit-keyframes right-dn {
    0% {
        left: -100%;
        height: 0;
    }
    50% {
        left: 0;
        height: 0;
    }
    100% {
        height: 100%;
        left: 0;
    }
}
.effect .effect-text h2{
    height: 45px;
    color: #ffffff;
    font-size: 25px;
    margin: 0;
}
.effect .effect-text p{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}
.effect .effect-btn .btn{
    display: inline-block;
    height: 35px;
    padding: 7px 15px;
    color: #333333;
    background: #ffffff;
}
@media (min-width:576px){
    .container{
        max-width: 540px;
    }
    .column{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .column{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
    .column{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}


/* social media page deign */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
    padding-top: 80px;
}
.section{
	width: 100%;
	min-height: 100vh;
	background-color: #ffffff;
    padding-top: 20px;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
h1{
    color: #070606;
}
p{
    color: #000;
}
.content-section .content h3{
	margin-top: 20px;
	color:#f57a28;
	font-size: 26px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #d15b37;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#050505;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
    padding-bottom: 20px;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}







/* web footer */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
   
    background: rgb(242, 241, 241);
    height: auto;
    width:100vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
   
    color: rgb(0, 0, 0);

}
.footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer_content h3{
    font-size: 1.4rem;
    font-weight:400;
    text-transform:capitalize;
    line-height: 3rem;
    

}
.footer_content p{
    max-width: 500px;
    margin: 10px auto;
    line-height:28px;
    font-size: 14px;
    color: rgb(0, 0, 0);

}
.socials{
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(3, 2, 2);
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #a52a2a;
}
.footer-bottom{
    background: rgb(172, 172, 172);
    width: 100vw;
    padding: 20px 0;
    text-align: center;


}
.footer-bottom p{
    font-size:14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color:rgb(0, 0, 0);
}
.footer-bottom span{
    text-transform:uppercase;
    opacity: .9;
    font-weight: 200;
    color: #ff6600;
}
hr one{
    border: none;
    border-top: 2px solid;
    padding-top: 50px;
}